[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = ">=1.24.1"
scikit-learn = ">=1.2.0"
pytest = "*"
dtuprosys = "*"
cairocffi = "*"
numba = "*"

[dev-packages]
black = "*"
jupyter = "*"
notebook = "*"

[requires]
python_version = "3.10"
